@charset "UTF-8";

/* pr */
.pr{
    background: rgb(252,245,235);
}
.ppr{
    display: flex;
    position: relative;
	margin-left: 50px;
}
.pr-content{
    width: 600px;
    padding: 110px 15px 110px 0;
}
.pr-title{
    color: #4a3737;
}
.pr-title h2{
    font-size: 30px;
    font-weight: normal;
    margin: 0;
}
.pr-title h1{
    font-size: 45px;
    font-weight: bolder;
    margin: 0;
}
.pr-title p{
    font-size: 22px;
    margin-bottom: 40px;
}
.pro p,
.sc-title{
    color: #006940;
    font-size: 20px;
    font-weight: bolder;
}
.pro i,
.sc-title i{
    padding: 15px;
    color: #fff;
    background: #006940;
    border-radius: 50%;
}
.pro span{
    font-size: 17px;
    font-weight: lighter;
    color: #4a3737;
    padding-left: 52px;
}
.pr-doctor{
    position: fixed;
   right: 100px;
}
.pr-doctor img{
    width: 500px;
    height: 800px;
    object-fit: cover;
}
.pr-doctor.on{
    position: absolute;
    height: 350px;
    bottom: 450px;
    right: -40px;
}
.schedule img{
    width: 600px;
    height: auto;
}
.schedule{
    padding-bottom: 150px;
    border-bottom: 2px solid #4d4d4d;
}
.pr-career{
    padding-bottom: 100px;
    border-bottom: 2px solid #4d4d4d;
}
.pr-career h1{
    padding: 10px 0;
    margin: 0;
    border-bottom: 2px solid #006940;
    color: #4a3737;
}
.ability{
    font-size: 20px;
}
.ab {
    margin-bottom: 40px;
}
.ab li{
    list-style: circle;
}
.ca li{
    list-style: circle;
}
.pr-activity{
    padding-bottom: 100px;
    border-bottom: 2px solid #4d4d4d;
}
.pr-activity h1{
    padding: 10px 0;
    margin: 0;
    border-bottom: 2px solid #006940;
    color: #4a3737;
}
.pr-activity li{
    list-style: circle;
    padding-bottom: 5px;
    font-size: 20px;
}
.pr-achievement{
    padding-bottom: 50px;
}
.pr-achievement h1{
    padding: 10px 0;
    margin: 0;
    color: #4a3737;
    border-bottom: 2px solid #006940;
}
.pr-achievement span{
    padding-right: 10px;
    width: 100px;
    float: left;
}
.pr-achievement li{
    list-style: circle;
    padding-bottom: 8px;
    font-size: 20px;

}
.pr-achievement em{
display: block;
font-style: normal;
margin-left: 120px;
}